.allProjects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.Center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
